/* Add custom CSS here. */

p a {
    text-decoration: underline !important;
}

li a {
    text-decoration: underline !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6
{
    font-family: 'Roboto Slab', serif;
    color: #526d7a !important;
    margin-top: 50px;
}
.category
{
    color: #526d7a !important;
}

div.content
{
    color: #666;
}

.description
{
    color: #666;
}

.error h1
{
    color: #666;
}
.error p
{
    color: #666;
}
.footer
{
    color: #666;
}
.intro
{
    color: #666;
}
h5.description,
h4.description
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #666;

}
.list-entry-link
{
    text-decoration: none !important;
}

.menu-item
{
    margin: 0 5px;
}

.meta
{
    color: #666;
}
a.meta
{
    color: #526d7a;
}
h6.meta
{
    color: #666;
}


.social,
.social a
{
    margin: 0 5px;
}


code: not(.hljs)
{
    color: #526d7a !important;
    background-color: #f1f5f9 !important;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #3f3f3f;
    border: 0px solid #ccc;
    border-radius: 4px
} 
